# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
**/build/
**/.metadata

# Android / Gradle
**/.gradle/
**/local.properties
**/key.properties
**/*.jks
**/*.keystore
**/keystore_password_backup.txt

# iOS
**/Pods/
**/.symlinks/
**/Runner.xcworkspace/

# Assets
assets/

